header > div {
    margin-top: 2rem;
}

main .col {
    margin-top: 2rem;
}

main > div > h6 {
    margin-top: 2rem;
}

main img {
    width: 50px;
}

footer {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

header p {
    font-size: 0.4em;
}

.card-text {
    font-size: 0.8em;
}

.card-body p i {
    font-size: 0.7em;
}