body {
    min-width: 280px;
}

header > div {
    margin-top: 2rem;
}

main .col {
    margin-top: 2rem;
}

main h6 {
    margin-top: 2rem;
    font-size: 1em;
}

main img {
    width: 50px;
}

main .card {
    width: 100%;
    min-width: 10rem;
}

footer {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

header p {
    font-size: 0.6em;
    margin-bottom: 0px;
}

.card-text {
    font-size: 0.8em;
}

.card-body p i {
    font-size: 0.7em;
}

@media screen and (min-width: 480px) {
    header p {
        font-size: 0.8em;
    }

    main h6 {
        font-size: 1.2em;
    }

    main .card {
        min-width: 13rem;
    }

    .card-text {
        font-size: 1em;
    }
}

@media screen and (min-width: 960px) {
    header p {
        font-size: 1em;
    }

    main h6 {
        font-size: 1.4em;
    }

    main .card {
        min-width: 16rem;
    }

    .card-text {
        font-size: 1.2em;
    }
}